/*
Extract from https://www.w3schools.com/w3css/4/w3.css
*/

@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

html,body {
  background-image: url("math_background.PNG");
  background-size: 30%;
  font-family: Verdana,sans-serif;
  padding: 20px;
}

content {
  position: absolute;
  top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
}

h1 {
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 40px;
}

h2 {
  font-family: "Comic sans MS", cursive;
  font-size: 27px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
}

a {
  color: inherit;
}

p {
  font-style: italic;
}

ol {
  text-align: left;
}

img {
  width: 80%;
  border: 2px solid black;
}

details > p {
  width: 50%;
  margin: 0px auto;
}

#meaning {
  border: 1px solid black;
  padding: 15px;
}

#navDemo, #navDemo > a {border: 1px solid black}

.types {
  display: grid;
  grid-gap: 10px;
}

.types > div {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.circle {
  border-radius: 50%;
  padding: 10px;
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.bar {
  width: 100%;
  overflow: hidden;
}

.center .bar {
  display: inline-block;
  width: auto;
}

.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.bar .dropdown-hover,.bar .dropdown-click {
  position: static;
  float: left
}

.bar .button {
  white-space: normal;
}

.bar-block .bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.bar-block.center .bar-item {
  text-align: center;
}

.card,.card-2{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),
  0 2px 10px 0 rgba(0,0,0,0.12);
}

.cell-row {
  display: table;
  width: 100%;
}

.cell {
  display: table-cell;
}

.hide {
  display: none!important;
}

.show {
  display: block!important;
}

@media (max-width: 1205px) {
  .auto {
    max-width: 95%;
  }
}

@media (max-width: 750px) {
  .hide-small {
    display: none!important;
  }
}

@media (max-width: 992px) and (min-width: 751px) {
  .hide-medium {
    display: none!important;
  }
}

@media (min-width: 993px) {
  .hide-large {
    display: none!important;
  }
}

@media (max-width: 992px) {
  .sidebar.collapse {
    display: none;
  }
  .main {
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .auto {
    max-width: 100%;
  }
}

.top {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.large {
  font-size: 18px!important;
}

.padding-large {
  padding: 12px 24px!important;
}

.right {
  float: right!important;
}

.button:hover {
  color: #000!important;
  background-color: #ccc!important;
}

.blue,.hover-blue:hover{
  color:#fff!important;
  background-color:#2196F3!important;
}

.white,.hover-white:hover{
  color:#000!important;
  background-color:#fff!important;
}

.left-align{
  text-align:left!important;
}

@media screen and (min-width:750px) {
  #meaning {border-radius: 45%}
  .types {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width:750px) {

  #meaning {border-radius: 50%}
  .types {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-size: 20px;
  }
}
